:root{
    --color1:#C2A886;
    --color2:#161415;
    --color3:#533b1d;
}

html{
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

img{
    display: block;
    width: 100%;
}

/* container principal */

.hero-image{
    background:linear-gradient(135deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5)),url(../assets/crystal-shaw-SHDPCTJygm0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70rem;
    background-attachment: fixed;
}

/* variables */

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__links-container{
    gap: 2rem;
}

.flex-links{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.flex-gap{
    gap: 5rem;
}

/* container header */

.container-nav{
    width: 100%;
    height: 5rem;
}

.nav__content{
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav__burger{
    width: 5rem;
    background-color: transparent;
    border: thick solid transparent;
    display: none;
}

.nav__burger svg{
    fill: white;
}

.nav__burger:hover{
    background: linear-gradient(135deg,rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2));
    border-radius: 50%;
    cursor: pointer;
}

#cerrar{
    display: none;
    width: 5rem;
    background-color: transparent;
    border: thick solid transparent;
    display: none;
}

#cerrar svg{
    fill: white;
}

#cerrar:hover{
    background: linear-gradient(135deg,rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2));
    border-radius: 50%;
    cursor: pointer;
}

.links{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

/* logos */

.nav__logo{
    width: 13rem;
}

.icon-container{
    width: 2.3rem;
}

.icon-container svg{
    fill: white;
    max-width: 100%;
}

/* article */

.container-info{
    display: flex;
    justify-content: flex-end;
    margin: 17rem 4rem;
    color: white;
}

.content-info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.content-info h1{
    font-size: 7rem;
    -webkit-text-stroke: 3px white;
    margin: 0;
}

.content-info p{
    font-size: 1.8rem;
    line-height: 2.5rem;
    width: 50rem;
}

.info__buttoms {
    width: 38rem;
    display: flex;
    justify-content: space-between;
}

.info__buttoms button{
    width: 16rem;
    height: 5rem;
    border: thin solid transparent;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.info__buttoms button:nth-child(1){
    background-color: var(--color1);
}

.info__buttoms button:nth-child(1):hover{
    background-color: var(--color2);
}

.info__buttoms button:nth-child(2){
    background-color: var(--color2);
}

.info__buttoms button:nth-child(2):hover{
    background-color: var(--color1);
}

/* section about */

.container-principal{
    width: 100%;
}

.section-about{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(0,0,0,3) 0%, rgba(0,0,0,0.5)),url(../assets/christian-battaglia-BckPaTv1RZ8-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.container-about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
    padding: 2rem;
}

.about-text{
    width: 35rem;
    padding: 0 2rem;
}

.about-text h2{
    font-size: 1.5rem;
    color: var(--color1);
}

.about-text h3{
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
}

.about-text p{
    font-size: 1.5rem;
    color: #939393;
}

.about-text button{
    width: 12rem;
    height: 4rem;
    border: thin solid transparent;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    background-color: var(--color1);
    margin-top: 1rem;
}

.about-text button:hover{
    background-color: var(--color2);

}

.about-hours{
    width: 30rem;
}

.about-hours h2{
    font-size: 3rem;
    color: white;
}

.about-hours ul{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    font-size: 1.8rem;
    color: white;
    padding: 0 .5rem;
}

.about-hours li{
    display: flex;
    gap: 2rem;
    font-weight: bold;
}


.about-hours span{
    color: var(--color1);
    font-size: 1.8rem;
}

.about-image{
    width: 35rem;
}

.about-image img{
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
}

.section-skills{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.7)),
    url(../assets/immo-wegmann-REqK8jIAtv8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.section-skills h2{
    font-size: 4rem;
    -webkit-text-stroke: 2.5px white;
}

.skills__cards{
    width: 90%;
    height: 55vh;
    margin: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-grow: 1;
    flex-wrap: wrap;
}

.card{
    width: 28rem;
    height: 25rem;
    border: thick solid var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.card h3{
    font-size: 6rem;
    margin: 0;
    color: var(--color1);
}

.card h4{
    font-size: 2rem;
    margin: 0;
}

.card p{
    font-size: 1.5rem;
    color: #adadad;
}


.section-pedidos{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.7)),
    url(../assets/danny-kang-MLlRHIffR84-unsplash\(1\).jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-pedidos{
    width: 60%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B9A380;
}

.pedidos-header{
    width: 100%;
    height: 13rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem;
}

.pedidos__header-title{
    text-align: center;
}

.pedidos__header-title h3{
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

.pedidos__header-title h4{
    font-size: 4rem;
    -webkit-text-stroke: 2px black;
    margin: 0;
}

.pedidos-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    font-size: 1.6rem;
}

.pedidos-links a{
    text-decoration: none;
    color: var(--color3);
}

.content-coffe{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: var(--color2);
}

.class-coffe{
    width: 100%;
    height: 7rem;
    padding: 1rem;
    text-align: center;
    padding-top: 5rem;
}


.class-coffe h4{
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    margin: 0;
} 

.class-coffe p{
    font-size: 1rem;
    text-align: center;
    padding-right: 8rem;
}


@media (max-width: 550px) { 
    .skills__cards .card{
        width: 20rem;
        height: 15rem;
    }

    .card h3{
        font-size: 2rem;
        margin: 0;
        color: var(--color1);
    }
    
    .card h4{
        font-size: 1.5rem;
        margin: 0;
    }
    
    .card p{
        font-size: 1.1rem;
        color: #adadad;
    }

}

@media (max-width: 670px) { 
    .section-about{
        height: 100vh;
    }
    
    .container-about{
        display: flex;
        flex-direction: column;
    }

    .about-text{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about-text p{
        text-align: center;
    }

    .about-hours{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about-image{
        display: none;
    }

    .card{
        width: 25rem;
        height: 25rem;
    }

    .container-info{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content-info h1{
        display: flex;
        font-size: 6rem;
        align-items: center;
        justify-content: center;
    }

    .info__buttoms {
        width: 35rem;
        display: block;
        margin: 0 auto;
    }

    .info__buttoms button{
        width: 13rem;
        height: 5rem;
        margin-left: 2rem;
        border: thin solid transparent;
        border-radius: 1rem;
        font-size: 1.3rem;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    }

    .content-info p{
        font-size: 1.8rem;
        width: 40rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 776px) {
    .class-coffe h4{
        font-size: 1.3rem;
    }

    .about-hours h2{
        font-size: 2rem;
    }

    .about-hours ul{
        font-size: 1.3rem;
    }

    .about-text h3{
        font-size: 3rem;
    }
    
    .container-pedidos{
        width: 90%;
        height: 60rem;
    }

    .class-coffe p{
        font-size: 1rem;
        text-align: center;
        padding-right: 0;
    }

    .nav__burger{
        display: inherit;
    }

    .nav__logo{
        display: none;
    }

    .links-principales{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        margin: 0;
        left: -500px;
        width: 30rem;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, rgba(55, 39, 12, 1) 0%, rgb(49, 36, 7,.9));
        text-transform: uppercase;
    }

    #cerrar{
        display: inherit;
        position: absolute;
        top: 20px;
        left: 80px;
    }
}

@media (max-width: 1270px) { 
    .skills__cards{
        height: 100vh;
    }

    .links-principales a{
        font-size: 1.6rem;
    }

}
